@media(min-width: 32.5em){
        h1{
        font-size: 2.7em;
        }
        img{
        float: right;
        margin-top: -140px;
        margin-right: 20px;
    }
        portal{
        display: block; 
    }
        footer{
        margin-top: 100px;
        }
    }