*{
    box-sizing: border-box;
}
header, main, footer{
    margin: 0 auto;
    max-width: 760px;
}
h1, footer, footer p a{
    color: white;
}
footer, footer p a{
    font-family: 'Varela Round', sans-serif;
}
header, footer{
    background-color: #261C13;
    border-radius: 10px;
    text-align: center;
    border: 3px dotted #F9999B;
    padding: 10px;
}
h1{
    font-size: 2.5em;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Alegreya SC', serif;
}
h2{
    color: #010D4A;
}
img{
    display: block;
    margin: 0 auto;
     margin-top: 20px;
}

hr{
    margin-top: -15px;
    margin-bottom: 20px;
}
li{
    padding-bottom: 10px;
}
li a{
    color: #5C0209;
}
a:hover{
    background-color: rgb(247, 223, 224);
    color: #261C13;
}
main{
    padding:10px;
    font-family: 'Varela Round', sans-serif;  
}
footer{
    padding: 5px;
}
.copyright{
    font-size: 0.8em;
}
.updatedDate {
    font-size: 0.7em;
}
