@media(min-width: 32.5em){
header{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
h1{
    font-size:2.0em;
}
.content{
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}
.copyright{
    font-size: 0.9em;
}
.updatedDate {
    font-size: 0.85em;
}
}