.main-content{
    max-width: 90%;
    margin: 0 auto;
}

header{
     background-color: rgb(20, 28, 34);
     color:white;
     padding: 10px;
     text-align: center; 
    }
h1{
   margin-bottom: -10px; 
}
h3{
     background-color: rgb(34, 50, 61);
     color:white; 
     border-radius: 5px;
     padding: 10px;
     margin-bottom: -10px; 
}
img{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 100%;
}
#target-site, #sololearn-site, #pixlr-site{
    margin-bottom: 100px;
}
footer{
    padding: 5px;
    text-align: center;
}
.copyright{
    font-size: 0.85em;
}
.updatedDate {
    font-size: 0.8em;
}