.main-content{
    max-width: 29em;
    margin: 0 auto;
}

header{
     background-color: rgb(20, 28, 34);
     color:white;
     padding: 10px;
     text-align: center; 
}
h3{
     background-color: rgb(34, 50, 61);
     color:white; 
     border-radius: 5px;
     padding: 10px 
}
img{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}
footer{
    padding: 5px;
    border: 3px dotted #F9999B;
    text-align: center;
}
.copyright{
    font-size: 0.85em;
}
.updatedDate {
    font-size: 0.8em;
}