@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

//media sizes
$break-small: 42em;

//colors
$lightblue: #6495ED;
$beige: #FAEBD7;
$sand: #DEB887;

$mediumgray: #555; 
$header-background-color: $lightblue;
$main-background-color: $beige; 
$nav-link-color: $mediumgray;
$nav-default-color: $beige;
$nav-active-color: $sand; 
$header2-default-color: black;
$header2-active-color: $sand;
$header2-hover-color: $lightblue; 
$article-background-color: white;
$article-link-default-color: $lightblue;
$article-link-active-color: $sand;

@mixin grid-columns($grid-template-columns: 1, $grid-template-rows: 1, $grid-gap: 2rem) {
   display: grid;
   grid-template-columns: $grid-template-columns;
   grid-template-rows: $grid-template-rows;
   grid-gap: $grid-gap; 
}

body{
   font-family: Helvetica, Arial, sans-serif;
   margin: 0;
   div{
      @media(min-width: $break-small){
          @include grid-columns(1fr 3fr);
       }
   }
}
a{
    text-decoration: none;
}
header{
    background-color:$header-background-color;
    text-align: right;
    padding: 2rem;

    nav ul{
        padding: 0;
    }
    nav ul li{
    list-style: none;
     padding: 10px 0; 
    }
}
.post-date{
    color: $nav-link-color;
}
main{
    background-color: $main-background-color;
    padding: 2rem 1rem;
    grid-gap: 2rem;

    @media(width: $break-small){
        padding: 3rem 4rem;
        grid-gap: 3rem;
    }

}
article{
    background-color: $article-background-color;
    padding: 1rem;
    box-shadow: 2px 2px 5px 0px rgba(153, 153, 153, 0.712);
}
section img{
    display: block;
    margin: 0 auto;
}

/* LINKS */
/*  ----- H1 Link ----- */
h1 a{
    font-family: "Lora";
    font-weight: 500;
    color: white;
}
/*  ----- Navigation Links ----- */
header {
    nav a, nav a:visited{
       color: $nav-default-color; 
    }
    nav a:hover{
       text-decoration: underline 
    }
    nav a:active{
        color: $nav-active-color;
}
}

/*  ----- Article Title Links ----- */
h2{
    a, a:visited{
        font-family: "Lora";
         color: $header2-default-color 
    }
    a:hover{
    color: $header2-hover-color;
    text-decoration: underline;
}
    a:active{
        color: $header2-active-color;
}
}


/*  ----- Other Page Links ----- */
article{
    p a, article p a:visited{
        color: $article-link-default-color;
}
    p a:active{
        color: $article-link-active-color;
}
    p a:hover{
        text-decoration: underline;
}
}



