*{
    box-sizing: border-box;
}
body{
    font-family: 'Dosis';
}
header{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 4%;
    background-color: #029779;
}
h1{
    font-family: 'Henny Penny';
    font-size: 2.5rem;
    color: rgb(246, 230, 145);
    margin-bottom: 0;
}
header div{
    color: white;
}
.main-nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    width: 96%;
    text-align: left;
    color: rgba(37, 30, 16, 0.75);
    
}
.main-nav{
    background-color:rgb(246, 230, 145);;;
}
.main-nav ul{
    max-width: 900px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav ul li a{
    display: block;
    padding: 0.9rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.main-nav ul li a:hover{
    background-color: rgba(251, 142, 41, 0.5); 
}
.main-nav ul li.active a{
    background-color:rgba(251, 142, 41);
}
.main-nav ul.hide{
    display: none;
}
main, footer{
    margin: 0 3%;
}
h2{
    font-family: 'Risque';
    color: #029779;
}
figure{
    margin: 0;
}

