*{
    box-sizing: border-box;
}
body{
    font-family: 'Dosis';
}
header{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 4%;
    background-color: #029779;
    justify-content: center;
    
}
h1{
    font-family: 'Henny Penny';
    font-size: 2.5rem;
    color: rgb(246, 230, 145);
    margin-bottom: 0;
}
.logo{
    width: 50px;
    padding-right: 3px;
}
.header-text{
    margin-right: 80px;
}
header div{
    color: white;
}
.main-nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    width: 96%;
    text-align: left;
    color: rgba(37, 30, 16, 0.75);
    font-size: 1.3rem; 
}
.main-nav{
    background-color:rgb(246, 230, 145);
}
.main-nav ul{
    max-width: 900px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav ul li a{
    display: block;
    padding: 0.9rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.main-nav ul li a:hover{
    background-color: rgba(251, 142, 41, 0.5); 
}
.main-nav ul li.active a{
    background-color:rgb(251, 142, 41);
}
.main-nav ul.hide{
    display: none;
}
h2{
    font-family: 'Risque';
    color: #029779;
    text-align: center;
}
figure{
    margin: 0;
}
picture img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
footer{
     background-color: #029779;
     color: rgb(246, 230, 145);
      padding: 1% 3%;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: rgb(246, 230, 145); 
}


/* ----------Home Page---------- */
.weatherSummary{
   position: relative;
}
.weatherSummary p{
   position: absolute;
   top: 5px;
   left: 50%;
   margin-left: -90px;
   color: #029779; 
}
.cast5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(2, 151, 121, 0.7);
    padding: 1% 3%;
}
#rentaltravelvehicle{
    text-align: center;
}
#rentaltravelvehicle a{
     color:rgb(251, 142, 41);
     text-decoration: none;
     font-size: 1.25rem;
}
#rentaltravelvehicle a:hover{
    color:#029779; 
}
.rentalOfferings {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(246, 230, 145, 0.3);
    max-width: 900px;

}
.rentalOfferings ul li{
    list-style-type: square;
}

