@media only screen and (min-width: 40em){
   header{ 
       justify-content: center;
       align-items: center; 
   } 
    .main-nav button{
        display: none;
    }
    .main-nav ul li{
       flex: 1 1 100%;
    }
    .main-nav ul li a{
        text-align: center;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        font-size: 0.72rem;
    }
     .main-nav ul.hide{
        display: flex;
        flex-direction: row;    
    }
}
