@media only screen and (min-width: 52em){
   header{ 
    justify-content: center;
    align-items: center; 
   } 
    .main-nav button{
        display: none;
    }
    .main-nav ul li{
       flex: 1 1 100%;
       text-align: center;
    }
    .main-nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }
     .main-nav ul.hide{
        display: flex;
        flex-direction: row;    
    }
}
