@media only screen and (min-width: 42em){
    header, footer{
    justify-content: center;
    align-items: center; 
}
    .main-nav button{
        display: none;
    }
    .main-nav ul{
       margin-left: 2%; 
    }
    .main-nav ul li{
        float: left;
    }
    .main-nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }
    .main-nav ul.hide{
    display: block;

}
footer{
    display: flex;
}
}
