@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Sacramento&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 248, 233);

}
main {
    max-width: 850px;
    margin: 0 auto;
}
header,
footer {
    background-color: rgb(175, 242, 245);
    padding-top: 10px;
    padding-bottom: 10px;

}
header, main, footer{
    padding: 25px;
} 

header{
    font-size: 1.5em;
    color: #292c30; 
}
/* .logo{
    display: block;
} */
h1{
    font-family: 'Sacramento', cursive;
}
.header-text{
    display: flex;
    flex-direction: column;
}
 .header-text p{
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
} 

.main-nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
    
}
.main-nav{
    background-color: #ccc;
}
.main-nav, main, footer{
    font-family: 'Montserrat', sans-serif;
    color: #251e10;
}
.main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav ul li a{
    display: block;
    padding: 0.9rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.main-nav ul li a:hover{
    background-color:rgba(0,0,0,0.4); 
}
.main-nav ul li.active a{
    background-color: rgba(0,0,0,0.2); color: #fff;
}
.main-nav ul.hide{
    display: none;
}
