body{
    margin: 0;
}
    a{
        transition: 0.5s all;
        color: rgb(14, 29, 37);
        display: block;

        h1{
            text-align: center;
            text-shadow: white 1.5px 1.5px;
            margin: 0;
            padding: 2rem;
            letter-spacing: 0.1rem;
            font-size: 2rem;
            background-image: url("../images/spring-bird-2295431_1280.jpg");

        &:hover{
            opacity: 0.9;
        }
    }
}
.toDoContent{
    margin: 0 auto;
    max-width: 900px;
    padding: 2%;

}
#linkList{
    list-style-type: none;
    padding: 0;

    a{
        text-decoration: none;
        font-size: 1.3rem;
        color:  rgb(45, 97, 126);
        transition: 0.5s color;
        &:hover{
            color: rgb(14, 29, 37);
        }

    }
}
h2{
    color: #E91E63;
}
h3{
    color: #163a2f;
}
li > span{
     color: #E91E63;
     font-size: 1.2rem;
}