@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
table{
    margin: 25px auto;
    box-shadow:8px 10px 10px #628ca6;
    border-collapse: collapse;
    font-family: "Ubuntu", sans-serif;
}
caption{
    box-shadow:8px 10px 10px #628ca6;
    font-size: 1.7rem;
    font-weight: 700;
    border-top:2px solid lightgray;
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray; 
}
caption, th, td{
    padding: 10px;
}
th, td{
    border: 2px solid lightgray;
     text-align: center;
}
tr{
    background-color: #e7f0ed;
}
tr:nth-child(even){
    background-color: #e7ffed;
}
caption, tfoot tr td{
    background-color: #7fb9c2;
}
.blueBackWhite, .blueBackWhite th{
    background-color: #628ca6;
    color: white;
}
.blueBackWhite th{
    font-size: 1.1rem;
}
tfoot{
    font-size: 0.8rem;
}



/* thead tr:first-child{
   font-size: 1.7rem;
}
thead:first-child, tfoot{
    background-color: #7fb9c2;
}
thead tr:nth-child(2){
   background-color: #628ca6;
   color: white;
   font-size: 1.1rem;
} */
/* tbody tr:first-child, tr:nth-child(3), tr:nth-child(5){
    background-color: #e7f0ed;
    font-size: 1rem;
}
tr:nth-child(2), tr:nth-child(4), tr:nth-child(6){
    background-color: #e7ffed ;
    font-size: 1rem;
}
.salesGoalMet{
     background-color: #628ca6;
     color: white;
} */