@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
table{
    margin: 25px auto;
    box-shadow:8px 10px 10px #628ca6;
    border-collapse: collapse;
    font-family: "Ubuntu", sans-serif;
}
thead tr:first-child{
   font-size: 1.7rem;
   border-left: 2px solid lightgray;
   border-right: 2px solid lightgray;
   border-top: 2px solid lightgray;
}
thead:first-child, tfoot{
    background-color: #7fb9c2;
}
thead tr:nth-child(2){
   background-color: #628ca6;
   color: white;
   font-size: 1.1rem;
}
th, td{
    padding: 10px;
    text-align: center;
    border: 2px solid lightgray;
}
tbody tr:first-child, tr:nth-child(3), tr:nth-child(5){
    background-color: #e7f0ed;
    font-size: 1rem;
}
tr:nth-child(2), tr:nth-child(4), tr:nth-child(6){
    background-color: #e7ffed ;
    font-size: 1rem;
}
.salesGoalMet{
     background-color: #628ca6;
     color: white;
}
tfoot{
    font-size: 0.8rem;
}