/* ----------  Styles Applied to All Pages---------- */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Dosis';
}
header{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 4%;
    background-color: #036350;
    justify-content: center;
    
}
h1{
    font-family: 'Henny Penny';
    font-size: 2.5rem;
    color: #F7E77E;
    margin-bottom: 0;
}
.logo{
    width: 70px;
    padding-right: 3px;
}
.header-text{
    margin-right: 80px;
}
header div{
    color: white;
}
.main-nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    width: 96%;
    text-align: left;
    color: rgba(37, 30, 16, 0.75);
    font-size: 1.3rem; 
}
.main-nav{
    background-color:#F7E77E;
}
.main-nav ul{
    max-width: 900px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav ul li a{
    display: block;
    padding: 0.9rem;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.main-nav ul li a:hover{
    background-color: rgba(251, 142, 41, 0.5); 
}
.main-nav ul li.active a{
    background-color:rgb(251, 142, 41);
}
.main-nav ul.hide{
    display: none;
}
main{
    max-width: 900px;
}
h2{
    font-family: 'Risque';
    color: #029779;
    text-align: center;
    font-size: 1.7rem;
}
figure{
    margin: 0 0 35px 0;
}
picture img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
figure img, img{
    max-width: 100%;
}
footer{
    background-color: #036350;
    padding: 1% 3%;
    text-align: center;
    color: white;
}
footer a{
    color: #F7E77E;
    text-decoration: none;
    padding: 5px
}
footer a:hover{
    text-decoration: underline;
}

form label input:required, form label select:required {
    border-left: 6px solid rgb(221, 91, 4);
}
form label input:required:valid, form label select:required:valid{
    border-left: 6px solid #029779;
}
/* ----------  END/ Styles Applied to All Pages---------- *



/* ----------  Home Page  ---------- */
.weatherSummary{
   position: relative;
}
.weatherSummary p{
   position: absolute;
   top: 5px;
   left: 50%;
   margin-left: -150px;
   color: #014b3c; 
}
.cast5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 900px;
    background-color: #029779;
    color: black;
    margin-bottom: 35px;
}
.cast5 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}
.cast5 div p:first-of-type{
    margin-bottom: 0;
}
.cast5 div p:last-of-type{
    margin-top: 0;
}

.rentalOfferings {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(246, 229, 145, 0.25);
    max-width: 900px;
    margin-bottom: 35px;
    padding-right: 27px;
}
.rentalOfferings p{
    padding-left: 2.5rem;
    color:  #029779;
    margin-bottom: 5px;
}
.rentalOfferings img{
    width: 1.5rem;
}
.rentalOfferings ul{
    margin-top: 0;
    padding-left: 27px;
}
.rentalOfferings ul li{
    list-style-type: none;
}
#rentaltravelvehicle{
    text-align: center;
}
#rentaltravelvehicle a{
     color: rgb(250, 74, 4);
     text-decoration: none;
     font-size: 1.7rem;
     display: block;
}
#rentaltravelvehicle a:hover{
    text-decoration: underline; 
}
.locations{
 text-align: center;
}


/* ----------  Rentals  ---------- */
.rentalfigures figure img{
    display: block;
    margin: 0 auto;

}
.rentalfigures figure figcaption{
   text-align: center;
}
#rentalPricesTable{
    padding: 3%;
    margin: 0 auto;
}
thead tr:first-of-type{
    color: rgb(250, 74, 4);
    font-size: 1.2rem;
}
thead tr:nth-of-type(2){
    color: #017c63;
}
.pricetypes{
    background-color: rgba(153, 153, 153, 0.158);
}
thead tr:nth-child(3){
    font-size: 0.9rem;
    background-color: #017c63;
    color: white;
}
tbody{
    font-size: 0.83rem;
}
tbody tr:nth-child(even){
    background-color: rgba(246, 229, 145, 0.3);
}
th, td{
  padding: 0.5rem;
}
td{
    text-align: center;
}
td:first-child{
    text-align: left;
}

/* ----------  Reservations  ---------- */
.scootReservations form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scootReservations form fieldset{
    border-radius: 10px;
    background-color: rgba(246, 230, 145, 0.2);
    margin-bottom: 2rem;
    padding: .5rem 4%;
}
.scootReservations fieldset:last-of-type{
    margin-bottom: 10px;
}
.scootReservations form legend{
    margin: 0 1rem;
    padding: 0 .5rem;
}
.scootReservations form label{
    font-size: 0.9rem;
    display: block;
    padding-top: 1rem;
}
.scootReservations form input, .scootReservations form textarea, .scootReservations form select{
    display: block;
    margin-bottom: 10px;
    width: 20rem;
    max-width: 96%;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
}
.scootReservations form select, .scootReservations form input[type=date]{
    background-color: white;
}
.scootReservations form input[type=submit]{
    background-color: rgb(221, 91, 35);
    color: white;
    border: none;
    border-radius: 1rem;
    margin-bottom: 25px;
    font-size: 1.2rem;
}
.infoAndServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19.2rem;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}
.infoAndServices div{
    color: rgb(251, 104, 41);
    font-size: 1.2rem;
}
.infoAndServices ul{
    list-style-type: none;
    padding: 0;
}
.infoAndServices ul li{
    padding: 5px 0;
}


/* ----------  Tours  ---------- */
.scootTours{
    text-align: center;
    margin-bottom: 35px;
}
.tourGrid p:first-child{
    padding: 3%;
    line-height: 1.5;
}
.tourGrid p:first-child, .islandFeatures{
    color: rgb(1, 112, 90);
}
.sitesToVisit a{
    display: block;
    text-decoration: none;
    color:rgb(156, 47, 4);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.sitesToVisit a:hover{
    text-decoration: underline;
}

/* ----------  Contact  ---------- */
.scootContact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(246, 230, 145, 0.2);
    padding: 3%;
    margin: 0 auto;
    max-width: 25rem;
    border-radius: 10px;
}
.scootContact form label{
    font-size: 0.9rem;
    display: block;
}
.scootContact form input, .scootContact form textarea{
    display: block;
    margin-bottom: 10px;
    width: 20rem;
    max-width: 96%;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    max-width: 20rem;
}
.scootContact form input[type=submit]{
    background-color: rgb(221, 91, 35);
    color: white;
    border: none;
    margin-top: 5px;
    max-width: 20rem;
    font-size: 1.2rem;

}
.googlemaps{
    text-align: center;
    margin-top: 25px;
}
.googlemaps iframe{
    max-width: 100%;
}
.googlemaps figure:first-child{
    margin-right: 2%;
}

/* ----------  Thank You & Confirmation Pages  ---------- */
.scootThankyou, .scootConfirmation{
    text-align: center;
}
.scootThankyou h2, .scootConfirmation h2{
    color:  rgb(1, 112, 90);
    margin-bottom: 0;
}
.scootConfirmation p:nth-of-type(2){
    color: #666;
}

/* ----------  Resource Page  ---------- */
.scootResources{
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
}
.scootResources ul{
    padding-left: 0;
}
.scootResources ul li, .scootResources li a{
    display: block;
}
.scootResources ul li{
     color: #036350;
     font-size: 0.9rem;
     color: black;
     margin-bottom: 10px;
}
.resourceWebsites, .resourceImages{
    margin-bottom: 50px;
}
.scootResources ul li a{
    padding: 0.75rem 0;
    text-decoration: none;
    color: rgb(1, 112, 90);
    font-size: 1rem; 
}
.scootResources ul li:nth-of-type(even) a:hover, 
.scootResources ul li:nth-of-type(odd) a:hover{
    background-color:#029779; 
}
.scootResources a:hover{
    color: white;
}

.scootResources ul li:nth-of-type(even) a{
    background-color:rgba(251, 142, 41, 0.5);
}
.scootResources ul li:nth-of-type(odd) a{
    background-color:rgba(251, 142, 41, 0.25); 
}
