main{
   background-color: darkcyan;
}
main,h1, img, video, footer{
    max-width: 960px;
    margin: 0 auto;
}
img, video{
   display: block;
}
h1{
    color: darkblue;
    padding: 10px;
    border-top: 1px solid orange;
}
h1, footer{
   text-align: center;
}
footer p a{
   color: orange;
   text-decoration: none;
}
footer{
     border-bottom: 1px solid orange;
}