@media only screen and (min-width:55em){
    .logo{
        width: 128px;
        height: auto;
    } 
     .header-text div{
        font-size: 0.9rem;
}
    .main-nav ul{
       margin: 0 auto; 
    }
    .main-nav ul li a{
        font-size: 0.9rem;
    }
    .main-nav ul li:first-child a{
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    .weatherSummary{
    font-size: 1rem;
    opacity: 0.8;
}
    h1{
        font-size: 3rem;
    }
    .address img{
        display: block;
        max-width: 100%;

}

 /*    GALLERY Specific Id's and Classes   */
 .weatherFigures{
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 925px;
}
.weatherFigures figure:hover{
    box-shadow:5px 5px 10px 8px #888888;
}

/* Storm Center */
.stormMain{
    margin: 0 auto;
}

/* Thank you page */

.thanksMain h2{
    font-size: 3rem;
}
.thanksMain p{
    font-size: 1.5rem;

}

/* ----- HomePage-----   */
.homeMain{
    margin: 5% auto;
}
.homeMain h2{
    font-size: 2.35rem;
}
div.cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   border: 2px ridge skyblue;
   background-color: rgba(255, 232, 53,0.07);
   border: none;
}
div.cards section{
    display: flex;
    flex-direction: column;
}
section:nth-child(even) img{
   grid-column: 2; 
}
section:nth-child(even) .townData{
    grid-column: 1;
    grid-row: 1;
}
section:nth-child(1) .townData, 
section:nth-child(2) .townData{
    margin-bottom: 1rem;
}

}