.logo, .logo-img{
    width: 150px;
}
.logo,.main-nav a{
    display: block;
}
header{
    font-size: 1.3em;;
} 
.main-nav, header, main, footer, .logo{
    max-width: 767px;
    margin: 0 auto;
}
header,
footer {
	background-color: rgb(175, 242, 245);
    padding: 10px;
}
.main-nav, header, footer{
    text-align: center;
}
.main-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */

}
.main-nav a{
    text-decoration: none;
    background-color: #003776;;
    color: white;
    font-size: 1.5em;
    padding:  15px;

}
.main-nav a:hover{   
     color: #FFE835;
     text-decoration: #86E2FF underline;
}
main{
    padding: 25px;
}
.image-max{
    max-width: 100%;
}
.personas, .scenarios{
    margin-top: 50px;
}
.scenarios, .nav-style, .headings, .paragraphs{
    margin-bottom: 50px;
}
#site-name{
    letter-spacing: 1px;
}
.site-name-section{
    text-align: center;
}

.primary, .seconday, .accent1, .accent2{
    padding: 10px;
}
.primary{
 background-color: #003776;
 color: white;
}
.secondary{
    background-color: #86E2FF;
}
.accent1{
    background-color: #FFBB33;
}
.accent2{
    background-color: #FFE835;
}
