.logo, .logo-img{
    width: 150px;
}
.logo,.main-nav a{
    display: block;
} 
.main-nav, header, main, footer, .logo{
    max-width: 767px;
    margin: 0 auto;
}
.main-nav{
    text-align: center;
}
.main-nav ul{
    list-style: none;
    padding: 0;
    border: 1px solid black;

}
.main-nav a{
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5rem;

}
.main-nav a:hover{   
    background-color:rgb(229, 229, 226);
}
header{
    font-size: 1.3em;;
}
main{
    padding: 25px;
}
.image-max{
    max-width: 100%;
}
header,
footer {
    text-align: center;
	background-color: rgb(175, 242, 245);
	padding: 10px;
}
.personas, .scenarios{
    margin-top: 70px;
}
.scenarios{
    margin-bottom: 70px;
}