 .main-nav, header, main, footer{
    max-width: 80%;
    margin: 0 auto;
}
.main-nav, header{
    text-align: center;
}
.main-nav ul li{
    list-style: none;
}
.main-nav a{
    display: block;
    text-decoration: none;
    font-size: 1.5em;
}
header{
    font-size: 1.6em;;
}