* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    text-align: center;
    color: rgb(14, 29, 37);
    text-shadow: white 1.5px 1.5px;
    margin: 0;
    padding: 2rem;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    background-image: url("../images/spring-bird-2295431_1280.jpg");
}
main{
    margin: 0 auto;
    max-width: 420px;
    padding: 2%;

}
.list-header{
    max-width: 346px;
    font-size: 1.75rem;
    color:  rgb(18, 61, 126);
    padding: 5px;
    border-radius: 5px;
    background-color: #e1fae6;
}
#linkList{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    li{
        padding-right: 10px;
        padding-bottom: 45px;
         a{
        text-decoration: none;
        font-size: 1.5rem;
        color:  rgb(45, 97, 126);
        background-color: rgb(245, 245, 228);
        padding: 1rem 3rem;
        transition: 0.5s color;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 255, .2);
        border-radius: 5px;
        &:hover{
            color: rgb(250, 251, 252);
            background-color: rgb(248, 98, 161);
            }
        }

        &:nth-of-type(6) a, &:nth-of-type(n + 14) a{
            background-color: #f2faf3;
            color:rgb(230, 40, 135);
            transition: all 0.5s;
            &:hover{
                color: white;
                background-color: rgb(51, 160, 154);
            } 
        }
        &:nth-of-type(n + 10) a{
            padding: 1rem 2.64rem;
        }
    }
   
}